.header {
    // фикскируем шапку пр кроллинге
    position: fixed;// и выбивается из оннсоного потока и не знимает простаранства
    top: 0;
    left: 0;
    width: 100%;
    transition: .2s leaner;
    padding-bottom: 20px;
    z-index: 999; // чтобы при скроллинге не прятался на странице за секциями

}
.svg-odigo-Logo-dims {
    width: 82px;
}

// bg для js
.header_active {
    background: #0E1D28;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center; // вертикалльное выравнивание элементов flex.  по низ
    justify-content: space-between; // разносим по краям элементы
    padding-top: 30px;
}

.header__list { // натраиваем меню
    display: flex;
    flex-wrap: wrap;

}
.header__item {
    margin-right: 82px;
    &:last-child {
        margin-right: 0;
    }
}

.header__link {
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-decoration: none;
    
        &:hover, &:focus, &:active { // делаем эффект наведения
            opacity: .75;

        }
}


.header__burger {
     display: none;
     width: 40px;
     height: 28px;
     position: relative;
}

.burger__line {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
}

.burger__line_first {
    top: 0;
}

.burger__line_second {
    // располагаю элемент по центру
    top: 50%;
    transform: translateY(-50%);
}

.burger__line_third {
    bottom: 0;
}