
// ===============  выше - сброс стилей ===================

@import "reset"; // сброс стилей
@import "fonts"; // подлбчаем наши шрифты fonts.js
// @import "mixins";

@import "blocks/header";
@import "blocks/intro";
@import "blocks/benefits";
@import "blocks/places";
@import "blocks/tour";
@import "blocks/top";
@import "blocks/video";
@import "blocks/footer-wrap";
@import "mediaQueries";


.wrapper { // нужен для ограничения ширины и выравнивания контента
    max-width: 1060px; // блок для контента
    margin: 0 auto; // выравниваем по центру
    padding: 0 15px;
}

body {
    font-family: lato;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    color: #102746;
}
img {
    max-width: 100%; // чтобы изображение не превышало размеров своего контейнера
    height: auto; // чтобы сжималось пропорционально по высоте
}